html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}

body {
  font-family: "Cousine", monospace;
  font-weight: 400;
  transition: all 0.3s;
}

.main {
  max-width: 1907px;
  width: 100%;
  // max-width: 100vw;
  // max-height: 100vh;
  max-height: 1265px;
  height: 100%;
  padding: 25px 235px 25px 285px;
}

.main-portfolio {
  padding: 25px 235px 25px 285px;
  // max-width: 1907px;
  // width: 100%;
  // max-height: 1265px;
  // height: 100%;
  // padding: 25px 165px;
}

.content-new-page,
.content {
  // max-width: 1388px;
  // min-height: 1180px;
  // max-width: 1943px;
  // max-height: 1652px;
  // max-width: 1290px;
  // min-height: 1030px;
  max-width: 1230px;
  min-height: 955px;
  width: 100%;
  height: 100%;
}

.body-main {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    background-image: url(../images/main-bg.png);
    background-size: cover;
    object-fit: cover;
    background-position: center -50px;
    max-width: 1230px;
    min-height: 955px;
    width: 100%;
    height: 100%;
    z-index: -1;
    right: 16%;
    left: 16%;
    top: 0%;
  }
}

.portfolio-body {
  background-image: url(../images/portfolio-bg.png);
  background-size: cover;
  object-fit: cover;
  background-position: 0px -160px;
  background-repeat: repeat;
  position: relative;
}

.contacts-body {
  background-size: cover;
  object-fit: cover;
  background-image: url(../images/contacts-bg.png);
  background-repeat: repeat;
  background-position: center -190px;
}

.about-body {
  background-size: cover;
  object-fit: cover;
  background-image: url(../images/about-bg.png);
  background-repeat: repeat;
  background-position: center 0px;
}
