@media (max-width: 1680px) {
    // .body-main {
    //     &::before {
    //         left: 13%;
    //     }
    // }

    .menu__btn {
        display: none;
    }

    // .main {
    //     max-width: 1907px;
    //     width: 100%;
    //     max-height: 1265px;
    //     height: 100%;
    //     padding: 25px 225px 25px 200px;
    // }

    .portfolio-items__portfolio-item-left::before {
        background-position-y: -195px;
        background-size: cover;
        transform: scale(-1, 1);
        min-width: 99vw;
        max-width: fit-content;
        min-height: 99vh;
        background-position-x: inherit;
    }

    .portfolio-items__portfolio-item-right-wrapper::before {
        background-position-y: -195px;
        background-size: cover;
        transform: scale(1, 1.1);
        min-width: 100vw;
        max-width: fit-content;
        min-height: 100vh;
        background-position-x: inherit;
    }

    .portfolio-items__portfolio-item,
    .portfolio-items__portfolio-item-right {
        padding-top: 15px;
    }

    // .header__social-git {
    //     margin-left: -390px;
    // }

    // .header__social-tg {
    //     margin-left: -195px;
    // }
}

@media (max-width: 1580px) {
    .portfolio-items__img {
        margin-right: 0;
        margin-bottom: 100px;
    }

    .portfolio-items__img-right {
        margin-bottom: 100px;
        margin-left: 0;
    }

    .portfolio-items__img.on {
        margin-right: 0;
    }

    .portfolio-items__img-right.on {
        margin-left: 0;
    }

    .portfolio-items__logos {
        flex-wrap: wrap;
    }

    .portfolio-items__info {
        padding-top: 55px;
        max-width: 50vw;
        width: 100%;
    }

    .portfolio-items__portfolio-item {
        .portfolio-items__info {
            text-align: end;
            padding-right: 15px;
        }
    }

    .portfolio-items__img-tag {
        left: -101px;
    }

    .portfolio-items__portfolio-item-right .portfolio-items__img-tag {
        right: -101px;
    }
    // .body-main {
    //     &::before {
    //         max-width: 1170px;
    //         max-height: 955px;
    //     }
    // }

    // .title-link {
    //     left: 15%;
    // }
}

@media (max-width: 1400px) {
    .title-link__head-btn {
        padding: 10px 20px;
        bottom: 29px;
    }

    // .header__social-tg {
    //     margin-left: -145px;
    // }

    // .header__social-git {
    //     margin-left: -280px;
    // }

    .menu__items a,
    .menu__items li {
        padding-bottom: 35px;
    }

    // .body-main::before {
    //     background-position: center -45px;
    // }
}

@media (max-width: 1350px) {
    // .body-main::before {
    //     max-width: 1050px;
    //     max-height: 50%;
    //     background-size: contain;
    //     top: 100px;
    //     left: 10%;
    // }

    // .menu {
    //     padding-top: 160px;
    // }

    .menu {
        padding-left: 85px;
    }

    .title-link__head-title a {
        font-size: 100px;
    }

    .header::before {
        min-height: 100vh;
    }

    .title-link {
        margin: 100px 25vw 290px;
    }

    .portfolio-items__portfolio-item-right-wrapper::before,
    .portfolio-items__portfolio-item-left::before {
        background-position-y: -74px;
        background-size: contain;
        transform: scale(-1, 1.2);
        min-height: 110vh;
    }

    .portfolio-items__portfolio-item-right-wrapper::before {
        transform: scale(1, 1.2);
    }

    .portfolio-items__img,
    .portfolio-items__img-right {
        width: 525px;
    }

    .portfolio-items__img.on,
    .portfolio-items__img-right.on {
        width: 600px;
    }

    .portfolio-items__info {
        max-width: 46vw;
    }

    .portfolio-items__portfolio-item,
    .portfolio-items__portfolio-item-right {
        padding-top: 15px;
        position: relative;
        top: -80px;
    }

    .about::before {
        height: 80vh;
        top: -127px;
    }
}

@media (max-width: 1200px) {
    // .body-main::before {
    //     max-width: 1000px;
    //     max-height: 45%;
    //     background-size: contain;
    //     top: 100px;
    //     left: 7%;
    //     background-repeat: no-repeat;
    // }

    // .menu {
    //     padding-top: 70px;
    // }

    .header__social {
        right: 111px;
    }

    .title-link__head-title::before {
        width: 335px;
    }

    .title-link {
        max-width: 515px;
    }

    .portfolio-items__info {
        max-width: 45vw;
    }

    .title-link__head-btn {
        left: 70px;
    }

    .title-link__tags {
        position: absolute;
        right: -15px;
    }

    .portfolio-items__logo-small {
        &:nth-child(2) {
            display: none;
        }
    }

    .portfolio-items__logos {
        justify-content: space-around;
    }

    .portfolio-items__portfolio-item,
    .portfolio-items__portfolio-item-right {
        padding-top: 0;
    }

    .portfolio-items__img,
    .portfolio-items__img-right {
        margin-bottom: 70px;
    }

    .portfolio-items__img.on,
    .portfolio-items__img-right.on {
        margin-bottom: 46px;
    }

    .portfolio-items__portfolio-item-right {
        display: flex;
        flex-direction: column-reverse;
    }

    .portfolio-items__portfolio-item-left {
        margin: 0 auto;
    }

    .portfolio-items__portfolio-item {
        display: flex;
        flex-direction: column;
    }

    .portfolio-items__portfolio-item .portfolio-items__info {
        margin: 0 auto;
    }

    .portfolio-items__portfolio-item-left::before,
    .portfolio-items__portfolio-item-right-wrapper::before {
        display: none;
    }

    .portfolio-items {
        background-color: #efefef;
        bottom: -15%;
        padding-bottom: 60px;
    }

    .portfolio-items__portfolio-item-right-wrapper {
        margin: 0 auto;
    }

    .portfolio-items__img,
    .portfolio-items__img-right,
    .portfolio-items__img.on,
    .portfolio-items__img-right.on {
        width: 525px;
        height: 775px;
        margin-bottom: 0;
    }

    .portfolio-items__info,
    .portfolio-items__portfolio-item .portfolio-items__info {
        text-align: center;
    }

    .portfolio-items__text::before {
        right: 37%;
        left: 37.3%;
    }

    .portfolio-items__portfolio-item,
    .portfolio-items__portfolio-item-right {
        padding-top: 60px;
        position: relative;
        top: 0px;
    }

    .portfolio-items__logos {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 380px;
        margin: 0 auto;
    }

    .about__img {
        margin-top: 70px;
    }

    .about__inner {
        padding-top: 0;
    }

    .about__title {
        padding-bottom: 10px;
    }

    // .main {
    //     max-width: 1907px;
    //     width: 100%;
    //     max-height: fit-content;
    //     padding: 25px 135px 25px 65px;
    // }
}

// @media (max-width: 1150px) {
//     .portfolio-items__portfolio-item-left::before,
//     .portfolio-items__portfolio-item-right-wrapper::before {
//         display: none;
//     }

//     .portfolio-items {
//         background-color: #efefef;
//         bottom: -15%;
//     }

// }

@media (max-width: 1105px) {
    // .body-main::before {
    //     max-width: 888px;
    // }

    .portfolio-items__info {
        width: 100%;
        max-width: 530px;
    }

    .portfolio-items {
        bottom: -2%;
    }

    .portfolio-items__portfolio-item .portfolio-items__info {
        padding-right: 0;
    }

    .title-link__head-title a {
        font-size: 90px;
    }

    // .title-link__tags {
    //     position: absolute;
    //     right: 24%;
    // }

    // .title-link__head-btn {
    //     padding: 10px 20px;
    //     bottom: -65px;
    //     left: -190px;
    //     color: #4c43fa;

    //     &:hover {
    //         color: #4af6cd;
    //     }
    // }

    .title-link__tags {
        position: absolute;
        right: 5%;
    }

    .title-link__head-subtitle {
        left: 40px;
    }

    .header::before {
        min-height: 85vh;
    }

    .about {
        bottom: -14%;
    }

    .about__inner {
        padding-top: 0;
        margin-top: -65px;
    }

    .about::before {
        height: 70vh;
    }

    .about__text {
        padding-bottom: 17px;
    }

    .about {
        bottom: -6%;
    }

    .about__text {
        padding-bottom: 0;
        max-height: 390px;
        overflow: overlay;
        padding-right: 30px;
    }

    .about__link {
        position: absolute;
        bottom: -68px;
    }
}

@media (max-width: 1050px) {
    // .body-main::before {
    //     max-width: 80%;
    //     min-height: 0%;
    //     max-height: 70%;
    // }

    // .title-link__tags {
    //     right: 22%;
    // }
}

@media (max-width: 1050px) {
    .menu__btn {
        // display: none;
    }
}

@media (max-width: 970px) {
    // .menu__items a,
    // .menu__items li {
    //     padding-bottom: 20px;
    // }

    // .title-link {
    //     bottom: 20%;
    // }

    // .body-main::before {
    //     top: 190px;
    // }

    // .title-link__tags {
    //     right: 20%;
    // }

    .menu__items {
        transform: translate(-250px, -180%);
    }

    .menu__item-contact {
        cursor: default;
    }

    .menu__btn {
        display: block;
        position: absolute;
        z-index: 1;
        top: 0px;
    }

    .menu {
        padding-left: 85px;
        position: absolute;
    }

    .title-link {
        margin: 80px auto 290px;
        justify-content: flex-start;
    }

    .title-link__tags {
        position: absolute;
        right: 11%;
    }

    .header::before {
        min-height: 75vh;
    }

    .portfolio-items {
        bottom: 6%;
    }
}

@media (max-width: 880px) {
    // .header__social {
    //     position: relative;
    //     top: 60px;
    //     right: 30%;
    // }

    // .title-link__tags {
    //     right: 15%;
    // }

    .header__social {
        right: 280px;
        top: 50px;
        max-width: 35vw;
    }

    .menu__btn {
        top: 15px;
    }

    .menu {
        padding-left: 55px;
    }

    .header::before {
        background-position-y: 90px;
        transform: scale(1.4, 1.3);
        background-size: contain;
    }

    .portfolio-items {
        bottom: 11%;
    }

    .about {
        bottom: -1%;
    }

    .about__text {
        max-height: 330px;
    }
}

@media (max-width: 790px) {
    // .menu__items.off {
    //     width: 200px;
    //     padding: 20px;
    //     background-color: #fff;
    //     z-index: 1;
    //     position: relative;
    // }

    // .title-link__head-title {
    //     z-index: -1;
    // }

    // .title-link__tags {
    //     right: 12vw;
    //     left: unset;
    // }

    // .title-link__head-title a {
    //     font-size: 60px;
    // }

    // .title-link {
    //     left: 10%;
    // }

    // .title-link__head-subtitle {
    //     font-size: 20px;
    //     padding-top: 10px;
    //     padding-left: 25px;
    //     left: 35px;
    //     z-index: -1;
    // }

    // .title-link__head-title {
    //     color: #ffffff;
    //     a {
    //         &:hover {
    //             color: $violet;
    //         }
    //     }

    //     span {
    //         transition: all 0.3s;
    //         &:hover {
    //             color: $light__blue;
    //         }
    //     }
    // }

    // .header__logo-inner {
    //     padding-top: 0;
    // }

    // .header__social {
    //     top: 15px;
    // }

    // .body-main::before {
    //     top: 95px;
    //     background-position: -20px 0;
    //     max-width: 90%;
    //     min-height: 0;
    //     max-height: 90%;
    // }

    .header__social {
        right: 32vw;
    }

    .title-link__head-inner {
        flex-direction: column;
    }

    .title-link__head-btn {
        padding: 10px 20px;
        bottom: -15px;
        max-width: 142px;
    }

    .header__logo-inner {
        padding-top: 25px;
    }

    .header__social {
        top: 25px;
    }

    .title-link__head-title a {
        font-size: 60px;
        line-height: 36px;
    }

    .header__logo a {
        font-size: 38.6px;
    }

    .title-link {
        max-width: 370px;
        margin: 90px auto 290px 170px;
    }

    .title-link__head-title::before {
        width: 270px;
        left: 20px;
    }

    .title-link__head-subtitle {
        left: 15px;
        font-size: 22px;
        padding-top: 10px;
    }

    .title-link__head-btn {
        padding: 5px 10px;
        bottom: -15px;
        max-width: 104px;
        font-size: 22px;
    }

    .menu__items a,
    .menu__items li {
        padding-bottom: 25px;
        font-size: 25px;
        text-align: center;
    }

    .header__social-git,
    .header__social-tg,
    .header__social-email {
        width: 30px;
        height: 30px;
    }

    .header__social-email:hover {
        width: 33px;
        height: 33px;
    }

    .title-link__tags {
        top: -10px;
    }

    .about__text {
        max-height: 240px;
    }
}

@media (max-width: 670px) {
    .title-link {
        max-width: 270px;
        // margin: 90px 25vw 290px;
        margin: 90px 0 290px 0;
        margin-left: calc(70% - 270px);
    }

    .title-link__head-title a {
        line-height: 50px;
    }

    .title-link__tags {
        right: -23%;
    }

    .portfolio-items {
        bottom: 16%;
    }

    .about__text {
        font-size: 21px;
        line-height: 22px;
    }

    .about__link {
        padding: 15px 20px;
    }

    .about {
        bottom: 4%;
    }
    // .header__social {
    //     top: 0px;
    //     right: 25%;
    // }

    // .header__social-git,
    // .header__social-tg,
    // .header__social-email {
    //     width: 30px;
    //     height: 30px;
    // }

    // .header__social-email:hover {
    //     width: 33px;
    //     height: 33px;
    // }

    // .menu__items a,
    // .menu__items li {
    //     padding-bottom: 15px;
    //     font-size: 25px;
    // }

    // .menu__items.off li {
    //     padding: 15px;
    //     text-align: center;
    // }

    // .title-link {
    //     left: 18%;
    //     bottom: 15%;
    // }

    // .title-link__tags {
    //     display: none;
    // }

    // .title-link__head-title::before {
    //     width: 265px;
    //     left: 35px;
    // }

    // .title-link__head-btn {
    //     padding: 5px 15px;
    //     height: fit-content;
    //     font-size: 18px;
    // }

    // .header__logo {
    //     max-width: 70px;
    // }
}

@media (max-width: 600px) {
    .title-link {
        max-width: 170px;
        margin: 45px 0 0;
        margin-left: calc(75% - 230px);
    }

    .header__social {
        top: 5px;
    }

    .title-link__head-title a {
        font-size: 45px;
    }

    .title-link__head-title::before {
        width: 170px;
        left: 20px;
    }

    .title-link__head-subtitle {
        left: 5px;
        font-size: 18px;
        padding-top: 7px;
    }

    .title-link__tags {
        display: none;
    }

    .title-link__head-btn {
        bottom: -6px;
    }

    .portfolio-items {
        bottom: -12%;
    }

    .portfolio-items__img,
    .portfolio-items__img-right,
    .portfolio-items__img-right.on,
    .portfolio-items__img.on {
        width: 100%;
        height: 665px;
    }

    .portfolio-items__img-tag,
    .portfolio-items__portfolio-item-right .portfolio-items__img-tag {
        font-size: 20px;
        padding: 15px 20px;
        top: 76.3%;
        z-index: 2;
    }

    .portfolio-items__img-tag {
        left: -65px;
    }

    .portfolio-items__portfolio-item-right .portfolio-items__img-tag {
        right: -65px;
    }

    .portfolio-items__info {
        padding-top: 30px;
    }

    .portfolio-items__title {
        font-size: 30px;
        padding-bottom: 30px;
    }

    .portfolio-items__text {
        font-size: 23px;
        line-height: 30px;
    }

    .portfolio-items__link {
        padding: 10px 20px;
    }

    .about {
        bottom: -19%;
    }

    .about::before {
        display: none;
    }

    .about__img-wrapper {
        display: none;
    }

    .about__text {
        max-height: fit-content;
        overflow: visible;
        padding-right: 0;
        max-width: 100%;
    }

    .about {
        text-align: center;
    }

    .about__link {
        left: 30%;
    }

    // .header__social {
    //     right: 9%;
    // }

    // .title-link {
    //     left: 18%;
    //     bottom: 18%;
    // }

    // .header__social-git {
    //     margin-left: -220px;
    // }

    // .header__social-tg {
    //     margin-left: -115px;
    // }

    // .header__social {
    //     right: 20%;
    // }

    // .title-link__head-title::before {
    //     width: 200px;
    //     left: 15px;
    // }
}

@media (max-width: 520px) {
    .title-link {
        margin-left: calc(75% - 200px);
    }

    .header::before {
        background-position-y: 155px;
        transform: scale(1.4, 1.7);
    }
    // .header__social {
    //     right: 10%;
    // }

    // .title-link__head-title a {
    //     font-size: 45px;
    // }

    // .title-link__head-subtitle {
    //     font-size: 15px;
    // }

    // .menu__items a,
    // .menu__items li {
    //     font-size: 20px;
    // }

    // .menu__items.off li {
    //     padding: 10px;
    //     text-align: center;
    // }

    // .title-link__head-btn {
    //     left: -157px;
    //     bottom: -85px;
    // }

    // .title-link {
    //     left: 23%;
    //     bottom: 17%;
    // }

    // .title-link__head-subtitle {
    //     left: 5px;
    // }
}

@media (max-width: 420px) {
    .title-link {
        margin-left: calc(75% - 175px);
    }

    .menu__btn {
        top: 5px;
    }

    .portfolio-items {
        bottom: 2%;
        z-index: -1;
    }

    .about {
        bottom: -7%;
    }
    // .title-link__head-btn {
    //     left: -139px;
    //     bottom: -70px;
    // }

    // // .header__social {
    // //     right: -61%;
    // //     top: -40px;
    // // }

    // .header__logo a {
    //     font-size: 27px;
    // }

    // .header__logo {
    //     max-width: 49px;
    // }

    // // .header__social-email,
    // // .header__social-git,
    // // .header__social-tg {
    // //     width: 25px;
    // //     height: 25px;
    // // }

    // // .header__social-email:hover {
    // //     width: 26px;
    // //     height: 26px;
    // // }

    // .title-link__head-title a {
    //     font-size: 32px;
    // }

    // .title-link {
    //     left: 39%;
    //     bottom: 19%;
    // }

    // .menu__btn {
    //     position: relative;
    //     right: 55px;
    // }

    // .menu__items.off {
    //     transform: translate(-9px, -50px);
    // }
}
