@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// header start
.header {
    display: flex;

    &::before {
        position: absolute;
        content: "";
        background-image: url(../images/main-bg1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -70px;
        width: 100%;
        max-width: 100vw;
        min-height: 115vh;
        z-index: -1;
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &__logo-inner {
        margin: 0 auto;
        padding-top: 50px;
        flex-wrap: wrap;
    }

    &__logo {
        max-width: 115px;
        width: 100%;
        transition: linear 0.3s;

        a {
            font-size: 44.6px;
            color: $violet;
            transition: linear 0.3s;

            &:hover {
                color: $light__blue;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
        max-width: 26vw;
        width: 100%;
        position: absolute;
        right: 195px;
    }

    &__social-git {
        transition: linear 0.3s;
        margin-top: 111px;
        background-image: url(../images/icons/github.svg);
        width: 35px;
        height: 35px;
        z-index: 1;
        fill: #4c43fa;
        transition: linear 0.3s;
        background-size: cover;
        transform: rotate(0);

        &:hover {
            transform: rotate(360deg);
        }
    }

    &__social-tg {
        transition: linear 0.3s;
        margin-top: 111px;
        background-image: url(../images/icons/telegram-plane.svg);
        width: 35px;
        height: 35px;
        z-index: 1;
        fill: #4c43fa;
        background-size: cover;

        &:hover {
            animation-name: tg;
            animation-duration: 2.5s;
        }
    }

    &__social-email {
        transition: linear 0.3s;
        margin-top: 111px;
        background-image: url(../images/icons/envelope.svg);
        width: 35px;
        height: 35px;
        z-index: 1;
        fill: #4c43fa;
        transition: linear 0.3s;
        background-size: cover;

        &:hover {
            background-image: url(../images/icons/envelope-open.svg);
            width: 40px;
            height: 40px;
            background-size: cover;
        }
    }
}

@keyframes tg {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(75px, -75px) rotate(-180deg);
    }

    90% {
        transform: rotate(-180deg);
    }
}

// header end
// menu start

.menu {
    padding-top: 55px;
    max-width: 200px;
    width: 100%;
    display: flex;
    float: left;
    padding-left: 195px;

    &__inner {
        list-style: none;
    }

    &__items {
        transition: linear 0.5s;
        li,
        a {
            font-size: 30px;
            color: $text;
            padding-bottom: 50px;
            transition: all 0.3s;

            &:hover {
                color: $light__blue;
            }
        }
    }

    &__item-last {
        padding-top: 35px;
        li,
        a {
            color: $violet;
            margin-top: 100px;

            &:hover {
                color: $text;
            }
        }
    }

    &__item-contact {
        cursor: pointer;
    }

    &__item-contacts {
        transform: translateX(-200%);
        position: absolute;
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 5px;
    }

    &__item-contacts.on {
        transform: translateX(0%);
        z-index: 9;
    }

    .menu__item-email,
    .menu__item-phone {
        padding: 25px;
        color: $text;
        transition: all 0.3s;

        &:hover {
            color: $violet;
        }
    }

    &__item {
        animation-name: menu-on;

        &:nth-child(1) {
            animation-duration: 0.8s;
        }

        &:nth-child(2) {
            animation-duration: 1s;
        }

        &:nth-child(3) {
            animation-duration: 1.3s;
        }

        &:nth-child(4) {
            animation-duration: 1.5s;
        }

        &:nth-child(5) {
            animation-duration: 1.8s;
        }
    }

    &__items.off {
        transform: translate(0, 0);
        width: 200px;
        padding: 20px;
        background-color: #fff;
        z-index: 1;
        position: relative;
        border-radius: 4px;

        li {
            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__btn {
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        transform: rotate(45deg);
        fill: $violet;
        display: none;
    }
}

@keyframes menu-on {
    0% {
        transform: translate(-150px, -80px);
    }

    100% {
        transform: translate(0, 0);
    }
}

// menu end
// title-link start

.title-link {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 585px;
    margin: 100px auto 290px;
    width: 100%;

    &__head-title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;

        a {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 110px;
            max-width: 285px;
            transition: all 0.3s;
            width: 100%;

            &:hover {
                color: $violet;
            }
        }

        span {
            transition: all 0.3s;
            &:hover {
                color: $light__blue;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background-color: #ffffff;
            width: 365px;
            height: 4px;
            bottom: 0;
            left: 40px;
        }
    }

    &__tags {
        position: absolute;
        right: -10px;
    }

    &__head-inner {
        display: flex;
        justify-content: space-between;
    }

    &__head-subtitle {
        font-weight: 500;
        font-size: 27px;
        text-transform: uppercase;
        color: #ffffff;
        padding-top: 20px;
        padding-left: 25px;
        transition: all 0.6s;
        position: relative;
        left: 55px;

        &:hover {
            color: #000;
        }
    }

    &__head-btn {
        display: flex;
        left: 113px;
        position: relative;
        bottom: 33px;
        font-size: 27px;
        color: $light__blue;
        background-color: #ffffff;
        padding: 15px 25px;
        border-radius: 3px;
        border: 2px solid #ffffff;
        transition: all 0.6s;

        &:hover {
            border: 2px solid #ffffff;
            background-color: transparent;
            color: $violet;
        }
    }
}

// title-link end
// portfolio-items start

.portfolio-items {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: -26%;

    &__portfolio-item-left {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/portfolio-bg.png);
            background-size: cover;
            background-position-x: inherit;
            background-position-y: -265px;
            background-repeat: no-repeat;
            max-width: 100vw;
            width: 100%;
            z-index: -1;
            max-height: 100vh;
            height: 100%;
            transform: scale(-1, 1);
        }
    }

    &__portfolio-item-right-wrapper {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url(../images/portfolio-bg.png);
            background-size: cover;
            background-position-x: inherit;
            background-position-y: -265px;
            background-repeat: no-repeat;
            max-width: 100vw;
            width: 100%;
            z-index: -1;
            max-height: 100vh;
            height: 100%;
            transform: scale(1, 1);
        }
    }

    &__img-inner {
        position: relative;
    }

    &__img-right,
    &__img {
        width: 625px;
        height: 775px;
        background-size: cover;
        object-fit: cover;
        transition: all 0.3s;
    }

    &__img {
        margin-right: 125px;
        margin-bottom: 100px;
    }

    &__img-right {
        margin-right: 0;
        margin-left: 125px;
        margin-bottom: 100px;
    }

    &__img.on {
        width: 660px;
        height: 800px;
        margin-right: 90px;
        opacity: 0.7;
        margin-bottom: 75px;
    }

    &__img-right.on {
        width: 660px;
        height: 800px;
        margin-left: 90px;
        opacity: 0.7;
        margin-bottom: 75px;
    }

    &__img-tag {
        position: absolute;
        transform: rotate(-90deg);
        text-transform: uppercase;
        color: #ffffff;
        font-size: 25px;
        background-color: $violet;
        padding: 20px 45px;
        top: 63%;
        left: -135px;
        z-index: 2;
    }

    &__portfolio-item,
    &__portfolio-item-right {
        display: flex;
        justify-content: space-between;
        padding-top: 75px;
    }

    &__info {
        padding-top: 55px;
        max-width: 38vw;
        width: 100%;
    }

    &__title {
        font-size: 37px;
        text-transform: uppercase;
        padding-bottom: 55px;
        color: $violet;
    }

    &__text {
        font-size: 27px;
        line-height: 35px;
        color: #8c8c8d;
        position: relative;

        &::before {
            content: "";
            background-color: $violet;
            width: 120px;
            height: 5px;
            position: absolute;
            bottom: -45px;
        }
    }

    &__logo-small {
        max-width: 127px;
        max-height: 122px;
        width: 100%;
        height: 100%;
        background-size: cover;
        overflow: hidden;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        padding-top: 90px;
    }

    &__link {
        padding: 15px 25px;
        background-color: $violet;
        font-size: 25px;
        color: #ffffff;
        height: 100%;
        margin-top: 32px;
        transition: all 0.5s;
        border-radius: 3px;

        &:hover {
            background-color: $light__blue;
            color: #000000;
        }
    }

    &__portfolio-item-right {
        .portfolio-items__img-tag {
            right: -135px;
            left: unset;
        }
    }
}

// portfolio-items end
// about start

.about {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: -27%;

    &::before {
        position: absolute;
        content: "";
        width: 100vw;
        height: 73vh;
        z-index: -1;
        background-size: cover;
        object-fit: cover;
        background-image: url(../images/about-bg.png);
        background-position-x: -15px;
        background-position-y: center;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 55px;
    }

    &__img {
        max-width: 666px;
        width: 100%;
        max-height: 596px;
        height: 100%;
        background-size: cover;
    }

    &__title {
        font-size: 50px;
        color: $violet;
        padding-bottom: 50px;
        transition: all 0.3s;

        &:hover {
            color: $light__blue;
        }
    }

    &__text {
        max-width: 700px;
        font-size: 26px;
        line-height: 30px;
        color: #8c8c8d;
        padding-bottom: 70px;
    }

    &__link {
        background-color: $violet;
        color: #ffffff;
        padding: 20px 25px;
        transition: all 0.5s;

        &:hover {
            background-color: $light__blue;
            color: #000000;
        }
    }
}

// about end

//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
