@import "vars";
@import "fonts";
@import "global";

//-----------------------------------------------------------------------------------------------------------
//
//                                                    START CODE
//
//-----------------------------------------------------------------------------------------------------------

// header start
.header {
    display: flex;

    &__logo-inner {
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px;
        flex-wrap: wrap;
    }

    &__logo {
        max-width: 115px;
        width: 100%;

        a {
            font-size: 44.6px;
            color: $violet;
            transition: linear 0.3s;

            &:hover {
                color: $light__blue;
            }
        }
    }

    &__social {
        display: flex;
        justify-content: space-between;
    }

    &__social-git {
        position: absolute;
        transition: linear 0.3s;
        margin-top: 111px;
        margin-left: -470px;
        background-image: url(../images/icons/github.svg);
        width: 35px;
        height: 35px;
        z-index: 1;
        fill: #4c43fa;
        transition: linear 0.3s;
        background-size: cover;
        transform: rotate(0);

        &:hover {
            transform: rotate(360deg);
        }
    }

    &__social-tg {
        position: absolute;
        transition: linear 0.3s;
        margin-top: 111px;
        margin-left: -235px;
        background-image: url(../images/icons/telegram-plane.svg);
        width: 35px;
        height: 35px;
        z-index: 1;
        fill: #4c43fa;
        background-size: cover;

        &:hover {
            animation-name: tg;
            animation-duration: 2.5s;
        }
    }

    &__social-email {
        position: absolute;
        transition: linear 0.3s;
        margin-top: 111px;
        background-image: url(../images/icons/envelope.svg);
        width: 35px;
        height: 35px;
        z-index: 1;
        fill: #4c43fa;
        transition: linear 0.3s;
        background-size: cover;

        &:hover {
            background-image: url(../images/icons/envelope-open.svg);
            width: 40px;
            height: 40px;
            background-size: cover;
        }
    }
}

@keyframes tg {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(75px, -75px) rotate(-180deg);
    }

    90% {
        transform: rotate(-180deg);
    }
}

// header end
// menu start

.menu {
    padding-top: 55px;

    &__inner {
        list-style: none;
    }

    &__items {
        li,
        a {
            font-size: 30px;
            color: $text;
            padding-bottom: 50px;
            transition: all 0.3s;

            &:hover {
                color: $light__blue;
            }
        }
    }

    &__item-last {
        padding-top: 35px;
        li,
        a {
            color: $violet;
            margin-top: 100px;

            &:hover {
                color: $text;
            }
        }
    }
}

// menu end
// title-link start

.title-link {
    position: relative;
    left: 10%;
    display: flex;
    justify-content: center;
    bottom: 33%;

    &__head-title {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: relative;

        a {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 110px;
            max-width: 285px;
            transition: all 0.3s;
            width: 100%;

            &:hover {
                color: $violet;
            }
        }

        span {
            transition: all 0.3s;
            &:hover {
                color: $light__blue;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background-color: #ffffff;
            width: 365px;
            height: 4px;
            bottom: 0;
            left: 40px;
        }
    }

    &__head-inner {
        display: flex;
        justify-content: space-between;
    }

    &__head-subtitle {
        font-weight: 500;
        font-size: 27px;
        text-transform: uppercase;
        color: #ffffff;
        padding-top: 20px;
        padding-left: 25px;
        transition: all 0.6s;
        position: relative;
        left: 55px;

        &:hover {
            color: #000;
        }
    }

    &__head-btn {
        display: flex;
        left: 113px;
        position: relative;
        bottom: 33px;
        font-size: 27px;
        color: $light__blue;
        background-color: #ffffff;
        padding: 15px 25px;
        border-radius: 3px;
        border: 2px solid #ffffff;
        transition: all 0.6s;

        &:hover {
            border: 2px solid #ffffff;
            background-color: transparent;
            color: $violet;
        }
    }
}

// title-link end
// portfolio-items start

.portfolio-items {
    position: relative;
    left: 22%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 34%;

    &__img-inner {
        position: relative;
    }

    &__img-right,
    &__img {
        width: 625px;
        height: 775px;
        // height: 100%;
        background-size: cover;
        object-fit: cover;
        transition: all 0.3s;

        // &:hover {
        // }
    }

    &__img {
        margin-right: 125px;
        margin-bottom: 100px;
    }

    &__img-right {
        margin-right: 0;
        margin-left: 125px;
        margin-bottom: 100px;
    }

    &__img.on {
        width: 660px;
        height: 800px;
        margin-right: 90px;
        opacity: 0.7;
        margin-bottom: 75px;
    }

    &__img-right.on {
        width: 660px;
        height: 800px;
        margin-left: 90px;
        opacity: 0.7;
        margin-bottom: 75px;
    }

    &__img-tag {
        position: absolute;
        transform: rotate(-90deg);
        text-transform: uppercase;
        color: #ffffff;
        font-size: 25px;
        background-color: $violet;
        padding: 20px 45px;
        top: 63%;
        left: -135px;
        z-index: 2;
    }

    &__portfolio-item,
    &__portfolio-item-right {
        display: flex;
        justify-content: space-between;
        // margin-bottom: 100px;
    }

    

    &__info {
        padding-top: 55px;
    }

    &__title {
        font-size: 37px;
        text-transform: uppercase;
        padding-bottom: 55px;
        color: $violet;
    }

    &__text {
        font-size: 27px;
        line-height: 35px;
        color: #8c8c8d;
        position: relative;

        &::before {
            content: "";
            background-color: $violet;
            width: 120px;
            height: 5px;
            position: absolute;
            bottom: -45px;
        }
    }

    &__logo-small {
        width: 127px;
        height: 122px;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        padding-top: 90px;
    }

    &__link {
        padding: 15px 25px;
        background-color: $violet;
        font-size: 25px;
        color: #ffffff;
        height: 100%;
        margin-top: 60px;
        transition: all 0.5s;

        &:hover {
            background-color: $light__blue;
            color: #000000;
        }
    }

    &__portfolio-item-right {
        .portfolio-items__img-tag {
            right: -135px;
            left: unset;
        }
    }
}

body {
    background-image: url(../images/portfolio-bg.png);
    background-size: cover;
    object-fit: cover;
    background-position: 0px -160px;
    background-repeat: repeat;
    position: relative;
}
// portfolio-items end
//-----------------------------------------------------------------------------------------------------------
//
//                                                    END CODE
//
//-----------------------------------------------------------------------------------------------------------

@import "media";
